{{- $u := urls.Parse .Destination -}} {{- $isExternal := or (strings.HasPrefix
.Destination "http://") (strings.HasPrefix .Destination "https://") -}} {{- if
and $isExternal (not (strings.HasPrefix .Destination site.BaseURL)) -}}
<a
    href="{{ .Destination | safeURL }}"
    target="_blank"
    rel="noopener noreferrer"
    {{
    with
    .Title
    }}
    title="{{ . }}"
    {{
    end
    }}
    >{{ .Text | safeHTML }}</a
>
{{- else -}}
<a
    href="{{ .Destination | safeURL }}"
    {{
    with
    .Title
    }}
    title="{{ . }}"
    {{
    end
    }}
    >{{ .Text | safeHTML }}</a
>
{{- end -}}
